:root {
  --index: calc(1vw + 1vh);
}

[class*="ymaps-2-1-79-gototech"],
[class*="ymaps-2-1-79-copyright ymaps-2-1-79-copyright_logo_no"] {
  display: none !important;
}

a {
  color: #b96161;
}

/* [class*="ground-pane"] {
  filter: grayscale(1);
} */

body {
  background-color: #D7C0B4;
  color: #452D2D;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.header {
  text-align: center;
  font-family: "Monotype Corsiva", sans-serif;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.header__foto {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__foro-item {
  background-image: url('./../images/100.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: calc(var(--index) * 7.16);
  height: calc(var(--index) * 17.55);
  background-color: #474545;
}

.left {
  margin-right: 5px;

}

.center {
  width: calc(var(--index) * 16);
  height: calc(var(--index) * 23.9);
  background-color: red;
}

.right {
  margin-left: 5px;
}

.header h2 {
  font-size: calc(var(--index) * 7.7);
  margin: 0.15em 0;
}

.header h3 {
  font-size: calc(var(--index) * 5);
}

.main__label {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-align: center;
}

.main__label h3 {
  font-style: italic;
  font-size: calc(var(--index) * 2);
}

.main__label h4 {
  font-size: calc(var(--index) * 1.45);
  margin-top: 30px;
}

.main__label h4 span {
  font-size: calc(var(--index) * 1.7);
  margin-top: 25px;
  text-shadow: 10 10 #b96161;
}

/* ===========================SECTION=MAIN-DATE=========================== */

.main__date {
  margin: 50px 0;
  display: grid;
  grid: 1fr / 0.8fr 1.2fr;
  align-items: stretch;
}

.main__date-img {
  width: calc(var(--index) * 13.53);
  height: calc(var(--index) * 23.9);
  background-image: url('./../images/100.jpg');
  background-size: cover;
  background-position: center;
}

.main__date-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px 15px;
  text-align: center;
}

.main__date-content-item {
  font-size: calc(var(--index) * 2);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.main__date-content-item:nth-child(1) {
  text-transform: uppercase;
  width: min-content;
  font-size: calc(var(--index) * 2);
}

.main__date-content-item:nth-child(2) {
  font-size: calc(var(--index) * 2);
}

.main__date-content-item:nth-child(3) {
  font-size: calc(var(--index) * 1.45);
}


/* ===========================SECTION=MAIN-TIMER=========================== */

.main__timer {
  text-align: center;
}

.main__timer-item {
  margin: 30px;
  font-size: calc(var(--index) * 2);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
}

.main__timer-item:nth-child(1) h2 {
  margin-bottom: 30px;
}

.main__timer-item:nth-child(2) small {
  font-style: normal;
  font-size: calc(var(--index) * 1.2);
}

.main__timer-item:nth-child(3) h3 {
  font-style: normal;
  margin-top: 10px;
  font-size: calc(var(--index) * 1.2);
  text-wrap: nowrap;
  position: relative;
}

.main__timer-item:nth-child(3) h3 a::before {
  content: '';
  /* width: 93%; */
  width: calc(var(--index) * 23.2);
  height: 1px;
  background-color: #b96161;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translate(-50%, 0);
}

#countdown {
  display: flex;
  justify-content: space-evenly;
}

.timer-item-countdown {}

.main__map {
  width: 100%;
  height: 250px;
  background-image: url('./../images/map11.JPG');
  background-position: top left;
  background-size: cover;
  margin: 20px 0;
}

/* ===========================FOOTER=========================== */

.footer {
  margin: 30px;
  font-size: calc(var(--index) * 2);
  font-family: 'Montserrat', sans-serif;
  font-style: italic;
  text-align: center;
  text-wrap: nowrap;
}

.footer p {
  margin: 15px 0;
}

.footer p:nth-child(4) {
  font-size: calc(var(--index) * 3.3);
  margin: 50px 0 60px;
}

.footer p:nth-child(1) {
  text-align: right;
  margin-top: 30px;
}

.footer p:nth-child(2) {
  font-size: calc(var(--index) * 1.8);
  position: relative;
  text-align: right;
}

.footer p:nth-child(3) {
  font-size: calc(var(--index) * 1.8);
  position: relative;
  text-align: right;
}

.footer p:nth-child(2) a::before, .footer p:nth-child(3) a::before {
  content: '';
  /* width: 58%; */
  width: calc(var(--index) * 14.2);
  height: 1px;
  background-color: #b96161;
  position: absolute;
  bottom: -2px;
  right: 0;
}

.footer p:nth-child(3) a::before {
  width: calc(var(--index) * 15);
}